@import "tailwindcss";
@import "tw-animate-css";


html {
  scroll-behavior: smooth;
}

body {
  background-color: #9f9f9f2a;
  color: #00629b;
  font-family: 'Inter', sans-serif;
}

.navbar {
  background-color: #fff;
}

@layer components {
  .sub-menu {
    position: absolute;
    /* padding: 15px; */
    color: #00629b;
    transform-origin: 50% -170px;
    --tw-backdrop-blur: blur(8px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    background-color: rgb(255 255 255 / 0.04);
  }

  @property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid;
  }

  .sub-menu-mobile {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
  }
    .sub-menu-mobile:last-child{
         border-bottom-width: 0;
    }


}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
  }

  .flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-justify-center {
    display: flex;
    justify-content: center;
  }
}

/* Add this CSS to ensure responsive styling */
/* Additional Custom CSS (Optional) */
.slick-prev,
.slick-next {
  background-color: #009ca6;
  border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: white;
}

.slick-slide {
  display: flex !important;
  /* Ensure all slides use flexbox */
  justify-content: center !important;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.slick-list {
  display: flex;
  justify-content: center;
}

.keen-slider:not([data-keen-slider-disabled]) {

  -webkit-tap-highlight-color: transparent;
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 100%
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap
}


.nav-underline {
  position: relative;
  /* color: inherit; */
  transition: color 0.3s ease;
}

.nav-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2.2px;
  width: 0;
  background: #1f7902;
  transition: width 0.5s ease;
}

.nav-underline:hover::after {
  width: 100%;
}

/* .nav-underline:hover {
  color: #1f7902
} */


.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 9px;
}

.div1 {
  grid-column: span 8 / span 8;
  grid-row: span 5 / span 5;
}

.div2 {
  grid-column: span 4 / span 4;
  grid-row: span 10 / span 10;
  grid-column-start: 9;
}

.div3 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
  grid-column-start: 5;
  grid-row-start: 6;
}

.div4 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
  grid-column-start: 1;
  grid-row-start: 6;
}